.participants-list-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.participants-list-wrapper .participants-list-content {
    display: flex;
    flex-direction: column;
}